<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Resources</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
          integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <style>
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }
    </style>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/code-block.css">
    <script src="/js/main.js"></script>
</head>


<body class="leading-relaxed bg-primary text-gray-300 font-sans dark:bg-primary-dark dark:text-gray-800 transition-colors duration-300">

<header class="bg-primary px-8 py-4 flex items-center justify-between dark:bg-primary-dark transition-colors duration-300">
    <div class="flex items-center space-x-8">
        <a href="https://www.abrark.com" class="text-accent dark:text-accent-dark font-bold text-xl">
<!--   TODO:         {{site.title}}-->
        AK
        </a>
        <nav class="flex items-center space-x-4">

            <!-- Sections -->

            {{#each sections}}

                {{#if this.is_selected}}
                    <a href="{{this.link.url}}" class="text-accent dark:text-accent-dark">{{this.link.text}}</a>
                {{else}}
                    <a href="{{this.link.url}}" class="text-gray-300 hover:text-accent dark:text-gray-800 dark:hover:text-accent-dark">{{this.link.text}}</a>
                {{/if}}
            {{/each}}
            <!--TODO: handle which selection is selected there should be border around it -->
            <!--            <a href="#" class="hover:text-yellow-500">Explore</a>-->
            <!--            <a href="#" class="border-b-2 border-yellow-500 text-yellow-500">Learn</a>-->

        </nav>
    </div>

    <div class="flex items-center space-x-4">
        <a href="https://www.github.com/AbrarNitk" class="text-gray-300 hover:text-accent dark:text-gray-800 dark:hover:text-accent-dark"><i class="fab fa-github"></i></a>
        <div class="relative">
            <input
                type="text"
                placeholder="Search"
                class="bg-secondary text-gray-200 dark:bg-secondary-dark dark:text-gray-800 pl-8 pr-2 py-1 rounded focus:outline-none"
            />
            <i class="fa fa-search text-gray-400 dark:text-gray-600 absolute top-2 left-2"></i>
        </div>
        <button id="theme-toggle" class="p-1 rounded-full bg-secondary dark:bg-secondary-dark">
            <i id="theme-icon" class="fa fa-sun text-accent dark:text-accent-dark"></i>
        </button>
        <a href="#" class="text-gray-300 hover:text-accent dark:text-gray-800 dark:hover:text-accent-dark"><i class="fa-regular fa-bell"></i></a>
    </div>
</header>

<!--SubSections -->
<div class="bg-secondary text-gray-400 dark:bg-secondary-dark dark:text-gray-600 px-8 py-3 flex items-center justify-between transition-colors duration-300">

    <div>
        <!--        <span class="text-white">Learn</span>-->
        <!--        <span class="mx-2">→</span>-->
        <!--        <span class="text-white">Learning Resources</span>-->
    </div>

    <div class="flex items-center space-x-4">

        {{#each subsections}}
            {{#if this.is_selected}}
                <a href="{{this.link.url}}" class="text-gray-200 dark:text-gray-900">{{this.link.text}}</a>
            {{else}}
                <a href="{{this.link.url}}" class="text-gray-400 hover:text-gray-200 dark:text-gray-600 dark:hover:text-gray-900">{{this.link.text}}</a>
            {{/if}}
        {{/each}}

        <!--        <a href="#" class="hover:text-white">Learn</a>-->
        <!--        <a href="#" class="hover:text-white">Featured Components</a>-->
    </div>

</div>

<div class="mx-auto flex">
    <aside class="w-64 bg-primary text-gray-400 dark:bg-primary-dark dark:text-gray-600 sticky top-0 h-screen overflow-y-auto p-6 transition-colors duration-300">
        {{#each toc.items}}
                {{#if this.is_selected}}
                    <h2 class="text-accent dark:text-accent-dark mb-4">
                        <a href="{{this.link.url}}">{{this.link.text}}</a>
                    </h2>
                {{else}}
                    <h2 class="text-gray-300 hover:text-accent dark:text-gray-800 dark:hover:text-accent-dark mb-4">
                        <a href="{{this.link.url}}">{{this.link.text}}</a>
                    </h2>
                {{/if}}
            <!-- todo: It must create the  dropdown menu id sub-toc presents -->
            <ul class="space-y-2">
                {{#each this.sub_toc}}
                    {{#if this.is_selected}}
                        <li class="pl-4 pb-4">
                            <a href="{{this.link.url}}"
                               class="text-accent dark:text-accent-dark">{{this.link.text}}</a>
                        </li>
                    {{else}}
                        <li class="pl-4 pb-4">
                            <a href="{{this.link.url}}"
                               class="text-gray-400 hover:text-accent dark:text-gray-600 dark:hover:text-accent-dark">{{this.link.text}}</a>
                        </li>
                    {{/if}}
                {{/each}}
            </ul>
        {{/each}}
    </aside>


    <!-- Main Content Area Starts   -->
    <main class="flex-1 p-6 bg-primary dark:bg-primary-dark overflow-y-scroll no-scrollbar transition-colors duration-300">

        <article class="prose prose-invert dark:prose-dark max-w-3xl transition-colors duration-300">
            {{{ content }}}
        </article>

    </main>
    <!-- Main Content Area Ends   -->

</div>

</body>
</html>